// Grid
$xl: 1400px;
$lg: 1025px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $xl;

// Colors
$white: #fcfcfc;
$text: #1b1b0f;

$purple: #b3b2d9;

// Other
$radius: 1px;

// Transitions
@mixin easeSineIn {
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}
@mixin easeSineOut {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
